@echo off
chcp 65001 >nul
cls

pushd "%~dp0"
cd ..

setlocal EnableDelayedExpansion

set t[1]=cfg_AchievementTitleMonData
set t[2]=cfg_AnYuLieXi
set t[3]=cfg_AttToZhanLi
set t[4]=cfg_BaiGuai
set t[5]=cfg_BaoFengZhiLi
set t[6]=cfg_BeiFengYinDeFengYinGuanGuo
set t[7]=cfg_BianGuanTitle
set t[8]=cfg_BuBeiQieGeMon
set t[9]=cfg_BuKeJiLuDiTu
set t[10]=cfg_BuZaoChengEWaiShangHai
set t[11]=cfg_CaiLiaoHuoZhan
set t[12]=cfg_ChaoShenGe
set t[13]=cfg_ChaoShenQiFeiSheng
set t[14]=cfg_ChaoShenQiTouBao
set t[15]=cfg_ChaoShenQiZhuangBei
set t[16]=cfg_ChengHaoAttr
set t[17]=cfg_ChengHaoBaoLv
set t[18]=cfg_ChengHaoQieGe
set t[19]=cfg_ChongZhiZhongXin
set t[20]=cfg_ChuangShiZhiHuo
set t[21]=cfg_ChuanSong
set t[22]=cfg_ChuanSongDian
set t[23]=cfg_CuiPanGuan_config
set t[24]=cfg_CuiPanGuan
set t[25]=cfg_DanChen
set t[26]=cfg_Desc
set t[27]=cfg_DianDengRen
set t[28]=cfg_DianFengDengJi1
set t[29]=cfg_DianFengDengJi2
set t[30]=cfg_DianFengDengJi3
set t[31]=cfg_DianShiChengJin
set t[32]=cfg_DiaoYuDaShi
set t[33]=cfg_DiZangWangDeShiLian
set t[34]=cfg_DouLi
set t[35]=cfg_EnterDaLu
set t[36]=cfg_FengDouGuiQi
set t[37]=cfg_FengDuChengMon
set t[38]=cfg_FengXingZhe
set t[39]=cfg_FenJie
set t[40]=cfg_Fuhuo
set t[41]=cfg_FuHuoZhuangBei
set t[42]=cfg_FuLiDaTing
set t[43]=cfg_FuXingQiPan
set t[44]=cfg_GaoJiShenQiMangHe
set t[45]=cfg_GeBuLinDeRuoDian
set t[46]=cfg_GeRenShouBao
set t[47]=cfg_GeRenShouSha
set t[48]=cfg_GuaiWuFanShang
set t[49]=cfg_GuanMing
set t[50]=cfg_GuiYuLingQi
set t[51]=cfg_HaFaXiSiChengHao
set t[52]=cfg_HongHuangZhiLi
set t[53]=cfg_huichengshi
set t[54]=cfg_HuiFuZhuangBei
set t[55]=cfg_HuiShou
set t[56]=cfg_HuiShouCategories
set t[57]=cfg_HuiShouSubcategories
set t[58]=cfg_HunDunBenYuan
set t[59]=cfg_HunLuanDuTu
set t[60]=cfg_HunYuanGongFa
set t[61]=cfg_HunZhuang_ShouZhuo
set t[62]=cfg_HunZhuang_TouKui
set t[63]=cfg_HunZhuang_WuQi
set t[64]=cfg_HunZhuang_XiangLian
set t[65]=cfg_HunZhuang_YiFu
set t[66]=cfg_HunZhuang_ZhiHuan
set t[67]=cfg_HunZhuangLevel
set t[68]=cfg_HuoDongDaTing
set t[69]=cfg_IsBoss
set t[70]=cfg_itemTipsImages
set t[71]=cfg_ItemTipsShow_Data
set t[72]=cfg_JiangHuChengHao
set t[73]=cfg_JiEDaLuMon_data
set t[74]=cfg_JieFengJianLingJiangLi
set t[75]=cfg_JiFenDuiHuan
set t[76]=cfg_JiNengQiangHua
set t[77]=cfg_JingZhiXiaoHui
set t[78]=cfg_JinJiZhiMen
set t[79]=cfg_JinZhiChuanSong
set t[80]=cfg_JinZhiJiLuDiTu
set t[81]=cfg_JiYinGaiZao
set t[82]=cfg_JuLongJueXing
set t[83]=cfg_JuQing
set t[84]=cfg_JuQingCategories
set t[85]=cfg_KongJianMoFa
set t[86]=cfg_KuaFuJinZhi
set t[87]=cfg_KuaFuVal
set t[88]=cfg_kuangbao
set t[89]=cfg_KuangFengXiLian
set t[90]=cfg_LongShenZhiLi
set t[91]=cfg_LuaFuVal
set t[92]=cfg_LuckyEvent_BoxData
set t[93]=cfg_LuckyEvent_HeiShiShangRen
set t[94]=cfg_LuckyEvent_QianZhuangLaoBan
set t[95]=cfg_LuckyEvent_YunYouShangRen
set t[96]=cfg_mail
set t[97]=cfg_ManHuangXueMai
set t[98]=cfg_map_npc_mov
set t[99]=cfg_map_npc
set t[100]=cfg_map_xz
set t[101]=cfg_MapEffect
set t[102]=cfg_MapEffectData
set t[103]=cfg_MonNameData
set t[104]=cfg_MoYanLianYu
set t[105]=cfg_MoYuZhiWang
set t[106]=cfg_NiuLeGeMaNpc
set t[107]=cfg_NiuMaNiXi_Data
set t[108]=cfg_npc_open
set t[109]=cfg_NpcDianJiShengYin
set t[110]=cfg_QianMenBaJiang
set t[111]=cfg_QiYuMonster
set t[112]=cfg_QuanMinHuaShui
set t[113]=cfg_QuanQuShouBao
set t[114]=cfg_RenewLevelData
set t[115]=cfg_renwu_guide
set t[116]=cfg_renwu_target
set t[117]=cfg_renwu_touch
set t[118]=cfg_renwu_type
set t[119]=cfg_renwu
set t[120]=cfg_RiChongBoss
set t[121]=cfg_SetMap
set t[122]=cfg_SetZhuangBan
set t[123]=cfg_ShaChengBaoXiang
set t[124]=cfg_ShaLuYinJi
set t[125]=cfg_ShangXianBuGuai
set t[126]=cfg_ShengDanShu
set t[127]=cfg_ShenHunGuMu
set t[128]=cfg_ShenHunJianJia
set t[129]=cfg_ShenHunLianYu
set t[130]=cfg_ShenHunShuaGuai_Data
set t[131]=cfg_ShenHunZhiDi
set t[132]=cfg_ShenLongDiGuo_data
set t[133]=cfg_ShenMiGuDongXiang
set t[134]=cfg_ShenMiGuDongXiangRandom
set t[135]=cfg_ShenMiZhuanShuMangHe
set t[136]=cfg_ShenMoZhiTi
set t[137]=cfg_ShenQiGeKuoZhan
set t[138]=cfg_ShiZhuangHeCheng
set t[139]=cfg_ShouJiRenWuWuPin
set t[140]=cfg_ShuangJieFuLi
set t[141]=cfg_ShuangJieKuangHuan
set t[142]=cfg_ShuangJieShangCheng
set t[143]=cfg_ssrNetMsg
set t[144]=cfg_TaiYangShengCheng_Mon
set t[145]=cfg_TanYuBuZhi
set t[146]=cfg_TaoZhuangAttr
set t[147]=cfg_TaoZhuangBaoLv
set t[148]=cfg_TaoZhuangGongSu
set t[149]=cfg_TaoZhuangQieGe
set t[150]=cfg_Task
set t[151]=cfg_TaskNpc
set t[152]=cfg_TaskPickItems
set t[153]=cfg_TaskPickItemsById
set t[154]=cfg_TaskPickItemsByName
set t[155]=cfg_TeShu_DouLi
set t[156]=cfg_TeShu_DunPai
set t[157]=cfg_TeShu_GuangHuan
set t[158]=cfg_TeShu_LongZhiXin
set t[159]=cfg_TeShu_ShenShouHu
set t[160]=cfg_TianMing_Di
set t[161]=cfg_TianMing_Fan
set t[162]=cfg_TianMing_Ling
set t[163]=cfg_TianMing_Sheng
set t[164]=cfg_TianMing_Xian
set t[165]=cfg_TianXiaDiYi
set t[166]=cfg_TianXuanZhiRen
set t[167]=cfg_TiShengQiPao
set t[168]=cfg_TitelLookData
set t[169]=cfg_TitleLookData
set t[170]=cfg_TitleNumData
set t[171]=cfg_TiZhiXiuLian
set t[172]=cfg_TongGuanWenDie
set t[173]=cfg_top_icon
set t[174]=cfg_TopIconShowHide
set t[175]=cfg_TouShi
set t[176]=cfg_TuJian
set t[177]=cfg_UseItem
set t[178]=cfg_UseShengYao
set t[179]=cfg_UseXianYao
set t[180]=cfg_WangDeBaoXiang
set t[181]=cfg_WangLingZhiShu
set t[182]=cfg_WuXingLingTi
set t[183]=cfg_WuXuKongJian
set t[184]=cfg_XianShuChouShenQi
set t[185]=cfg_XianWangXuanShang
set t[186]=cfg_XingYunXiangLian
set t[187]=cfg_XiuXianFaBaoData
set t[188]=cfg_xueshi
set t[189]=cfg_YanWangDaDian
set t[190]=cfg_YiJieMiCheng
set t[191]=cfg_YiJieMiChengRank
set t[192]=cfg_YingLingJiTan
set t[193]=cfg_YiYeYiPuTi
set t[194]=cfg_YongHengHuiJi
set t[195]=cfg_YongQiHaoYunBao
set t[196]=cfg_YongQiHaoYunBaoRandom
set t[197]=cfg_YouXiGongLve
set t[198]=cfg_YueGuangYuHui
set t[199]=cfg_ZhanJiangDuoQiGuildReward
set t[200]=cfg_ZhanJiangDuoQiPersonReward
set t[201]=cfg_ZhenBaoJianDing
set t[202]=cfg_ZhuangBan
set t[203]=cfg_ZhuangBeiBuff
set t[204]=cfg_ZhuangBeiDuanZao
set t[205]=cfg_ZhuangBeiHuanXing
set t[206]=cfg_ZhuangBeiQiangHua
set t[207]=cfg_ZhuangBeiXiLian
set t[208]=cfg_ZhuanShu
set t[209]=cfg_ZhuanShuZhuangBei
set t[210]=cfg_ZhuXianRenWu
set t[211]=cfg_ZhuXianRenWuCategories

set count=211

@REM set t[1]=cfg_BaiGuai
@REM set count=1

@REM 先转为 py list 的二维表
if not exist temp\py_merge mkdir temp\py_merge
for /L %%i in (1,1,%count%) do (
  set t=!t[%%i]!
  echo %%i/%count% 处理 !t!.lua
  bin\lua.exe lua\luaTableToPyList.lua "temp.csv_merge.!t!" "temp\py_merge\!t!.py" "!t!"
)

if not exist temp\xls_merge mkdir temp\xls_merge
for /L %%i in (1,1,%count%) do (
  set t=!t[%%i]!
  echo %%i/%count% 处理 !t!.py
  py -3 Python\pyListsToXls.py --mod_dir "temp\py_merge" --mod "!t!" --to "temp\xls_merge\!t!.xls" --name "!t!"
)

endlocal
popd

pause
