[submodule "lua_source_code/extensions/luafilesystem"]
	path = lua_source_code/extensions/luafilesystem
	url = git@github.com:lunarmodules/luafilesystem.git
[submodule "lua_source_code/extensions/luasocket"]
	path = lua_source_code/extensions/luasocket
	url = git@github.com:lunarmodules/luasocket.git
[submodule "tool_scripts/extensions"]
	path = tool_scripts/extensions
	url = git@github.com:Egor-Skriptunoff/pure_lua_SHA.git
[submodule "tool_scripts/extensions/pure_lua_SHA"]
	path = tool_scripts/extensions/pure_lua_SHA
	url = git@github.com:Egor-Skriptunoff/pure_lua_SHA.git
