@echo off
chcp 65001 >nul
cls

pushd "%~dp0"
cd ..

setlocal EnableDelayedExpansion
set client_dir=*****************************
py -3 Python\996UploadRes.py  --client "%client_dir%" --config "config\temp.config"
endlocal
popd
pause
