@echo off
chcp 65001 > nul
cls

pushd "%~dp0"
cd..

setlocal EnableDelayedExpansion

set svn_path_ui={{svn_root}}\03_Code\unity3dProj\Project\Assets\Download\UI
set git_path_ui={{git_root}}\03_Code\unity3dProj\Project\Assets\Download\UI

set LUA_PARAM=return { ^
exclude = { '.git', '.svn', '.vscode', '.vs' }, ^
}

bin\lua.exe lua\getChangedFilesOfDir.lua "%git_path_ui%" "temp\git_ui_changed.txt" "!LUA_PARAM!"
bin\lua.exe lua\copyFileByTxt.lua "%git_path_ui%" "%svn_path_ui%" "temp\git_ui_changed.txt"
bin\lua.exe lua\syncFileStatesOfDir.lua "%git_path_ui%" "temp\git_ui_changed.txt"


endlocal
popd

pause
