@echo off
chcp 65001 > nul
cls

pushd "%~dp0"
cd..

setlocal EnableDelayedExpansion

set svn_path={{svn_protocol_path}}
set git_path={{git_protocol_path}}

set LUA_PARAM=return { ^
exclude = { '.git', '.svn', '.vscode', '.vs' }, ^
}

bin\lua.exe lua\copyDirStructWithConfig.lua "%svn_path%" "%git_path%" "!LUA_PARAM!"
bin\lua.exe lua\copyFilesToWhereWithConfig.lua "%svn_path%" "%git_path%" "!LUA_PARAM!"


endlocal
popd

pause
